
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Multiuser Billing Software Vat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Aami added -->
     <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" /> 
    <!-- Aami added -->
    <style>
      a {
        text-decoration: none;
      }

      .active {
        background-color: green;
        color: white;
      }

      .dropdown-container {
        display: none;
        background-color: #262626;
        padding-left: 8px;
        border: none;
        outline: none;
      }

      #namediv:hover{
        color: black;
      }

      #namediv{
        color: black;
      }

      #logout{
        border: 2px solid #68020F;
      }

      #logout:hover{
        background-color: #68020F;
        color: white;
      }

      .plus_circle {
        margin-left: -11%;
        font-size: large;
        margin-top: 2%;
      }

      .sidebar-nav::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
      }
    </style>
  </head>

  <body>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" 
    data-header-position="fixed" style="position: static;background: transparent;" >
      <aside class="left-sidebar" style="background:  #68020F;">
        <div>
          <div class="brand-logo d-flex align-items-center justify-content-between p-4 mt-2">
            <a href="" class="text-nowrap logo-img mr-2 " style="display: flex;text-decoration: none;">
              <h3 style="font-family: 'Times New Roman', Times, serif; color: white; ">
                <b class="p-3">Multiuser Billing <br> &nbsp;&nbsp;&nbsp; Software VAT</b>
              </h3>
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
              <i class="fa fa-close text-light"></i>
            </div>
          </div>
          <nav class="sidebar-nav scroll-sidebar pb-5" data-simplebar="" >
            <ul id="sidebarnav " >
              <li class="sidebar-item mt-3">
                <a class="sidebar-link " href="{% url 'dashboard' %}" aria-expanded="false"
                  style="text-decoration: none; color: black; background-color: rgb(210, 235, 241,0.5);">
                  <i class="material-icons text-light">dashboard</i>
                  <span class="hide-menu text-light"><b> &nbsp; Dashboard</b></span>
                </a>
              </li>

              {% if usr.is_company == True %}

              <li class="sidebar-item">
                <button class="btn dropdown-btn" style="margin-top: 10px; border: none;outline: none; color: black;background-color: rgb(210, 235, 241,0.5);width: 100%;text-align: left;">
                  <span>
                    <b><i class="fa fa-user" style="font-size: 20px;margin-right: 19px; color: white; margin-left: -3%;"></i></b>
                  </span>
                  <span style="margin-top: -10vh; color: white;"><b> &nbsp; Employees </b></span>
                  <i class="fa fa-caret-down" style="margin-left: 30%;"></i>
                </button>
                <div class="dropdown-container" style="background-color: transparent; padding: 20px;justify-content: center; color: white;">
                  <div class="d-flex">
                    <a href="{% url 'load_staff_request' %}" class="d-flex align-items-center gap-2 dropdown-item">
                      <div class="d-flex">
                        <i class="material-icons">assignment</i>
                        <p class="mb-0 fs-3">&nbsp;&nbsp;Staff Request</b>
                      </div>
                    </a>
                    <i class="fa fa-plus-circle plus_circle"></i>
                  </div>
                  <hr>
                  <div class="d-flex">
                    <a href="{% url 'load_staff_list' %}" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="material-icons">list</i>
                      <p class="mb-0 fs-3">All Staff</p>
                    </a>
                    <i class="fa fa-plus-circle plus_circle"></i>
                  </div>
                  <hr>
                </div>
              </li>

              {% endif %}

              <li class="sidebar-item" style="display: flex; justify-content: space-between;">
                <a class="sidebar-link mt-2" href="{% url 'party_list' %}" aria-expanded="false" style="color: black; background-color: rgb(210, 235, 241, 0.5); flex: 1; border-radius: 10px 0px 0px 10px;">
                  <span class="hide-menu text-light"><i class="material-icons text-light">peoples</i><b>Parties</b></span> </a>

                  <a href="{% url 'load_party_create' %}" class="sidebar-link  mt-2 plus-icon"
                style="background-color: rgb(210, 235, 241, 0.5); border-radius: 0px 10px 10px 0px; text-decoration: none; color: rgb(0, 0, 0);">
                <span>
                  <b style="margin-right: 10px;"><i class="fa fa-plus"></i></b>
                </span>
              </a>
              </li>
    
              <li class="sidebar-item" style="display: flex; justify-content: space-between;">
                <a class="sidebar-link mt-2" href="{% url 'item_list_first' %}" aria-expanded="false" style="color: black; background-color: rgb(210, 235, 241, 0.5); flex: 1; border-radius: 10px 0px 0px 10px;">
                  <span class="hide-menu text-light"><i class="material-icons text-light">inventory</i><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Items</b></span> </a>

                  <a href="{% url 'load_item_create' %}" class="sidebar-link  mt-2 plus-icon"
                style="background-color: rgb(210, 235, 241, 0.5); border-radius: 0px 10px 10px 0px; text-decoration: none; color: rgb(0, 0, 0);">
                <span>
                  <b style="margin-right: 10px;"><i class="fa fa-plus"></i></b>
                </span>
              </a>
              </li>
    
              <li class="sidebar-item">
                <button class="btn dropdown-btn" style="margin-top: 10px; border: none;outline: none; color: black;background-color: rgb(210, 235, 241,0.5);width: 100%;text-align: left;">
                  <span>
                    <b><i class="material-icons" style="font-size: 20px;margin-right: 19px; color: white; margin-left: -3%;">attach_money</i></b>
                  </span>
                  <span style="margin-top: -10vh; color: white;"><b> &nbsp; Sales </b></span>
                  <i class="fa fa-caret-down" style="margin-left: 50%;"></i>
                </button>
    
                <div class="dropdown-container" style="background-color: transparent; padding: 20px;justify-content: center; color: white;">
                  <div class="d-flex">
                    <a href="{% url 'all_invoice' %}" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="material-icons">receipt</i>
                      <p class="mb-0 fs-3">Invoices</p>
                    </a>
                    <a href="{% url 'create_invoice' %}"><i class="fa fa-plus-circle plus_circle"></i></a>
                  </div>
                  <hr>
                  <div class="d-flex">
                    <a href="{% url 'listout_page' %}" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="material-icons">credit_score</i>
                      <p class="mb-0 fs-3">Credit Note</p>
                    </a>
                    <a href="{% url 'SalesReturn' %}" style="color: white;"> <i class="fa fa-plus-circle plus_circle"></i></a>
                  </div>
                  <hr>
                </div>
              </li>
                
              <li class="sidebar-item">
                <button class="btn dropdown-btn" style="margin-top: 10px; border: none;outline: none; color: black;background-color: rgb(210, 235, 241,0.5);width: 100%;text-align: left;">
                  <span>
                    <b><i class="material-icons" style="font-size: 20px;margin-right: 19px; color: white; margin-left: -3%;">shopping_cart</i></b>
                  </span>
                  <span style="margin-top: -10vh; color: white;"><b> &nbsp; Purchase </b></span>
                  <i class="fa fa-caret-down" style="margin-left: 35%;"></i>
                </button>

                <div class="dropdown-container" style="background-color: transparent; padding: 20px;justify-content: center; color: white;">
                  <div class="d-flex">
                    <a href="{% url 'allbill' %}" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="material-icons">receipt_long</i>
                      <p class="mb-0 fs-3" >Bills</p>
                    </a>
                    <a href="{% url 'createbill' %}" style="color: white;"> <i class="fa fa-plus-circle plus_circle"></i></a>
                  </div>
                  <hr>
                  <div class="d-flex">
                    <a href="{% url 'firstdebitnote' %}" class="d-flex align-items-center gap-2 dropdown-item">
                        <i class="material-icons">payment</i>
                        <p class="mb-0 fs-3">Debit Note</p>
                    </a>
                    <a href="{% url 'createdebitnote' %}" style="color: white;"><i class="fa fa-plus-circle plus_circle"></i></a>
                </div>
                  <hr>
                </div>
              </li>

              <li class="sidebar-item">
                <a class="sidebar-link mt-2" href="{% url 'stock_report' %}" aria-expanded="false"
                  style="color: black;background-color: rgb(210, 235, 241,0.5);">
                  <i class="material-icons  text-light">bar_chart</i>
                  <span class="hide-menu text-light"><b>Stock Reports</b></span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link mt-2" href="{% url 'Purchasereport' %}" aria-expanded="false"
                  style="color: black;background-color: rgb(210, 235, 241,0.5);">
                  <i class="material-icons  text-light">bar_chart</i>
                  <span class="hide-menu text-light"><b>Purchase Reports</b></span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link mt-2" href="{% url 'report' %}" aria-expanded="false"
                  style="color: black;background-color: rgb(210, 235, 241,0.5);">
                  <i class="material-icons  text-light">payment</i>
                  
                 
                  <span class="hide-menu text-light"><b>Sales Reports</b></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </aside>

      <div class="body-wrapper">
        <header class="app-header" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);background: #68020F;">
          <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="navbar-nav">
              <li class="nav-item d-block d-xl-none">
                <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)"  >
                  <i class="fa fa-bars" style="color: white; background-color: #68020F;"></i>
                </a>
              </li>
            </ul>

            <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
              <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                <li class="nav-item dropdown">
                  <a class="nav-link " href="" id="drop2" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {% if usr.is_company == True %}
                    {% if usr.company.profile_pic %}
                    <img width="35" height="35" class="rounded-circle" src="{{ usr.company.profile_pic.url }}" alt="">
                    {% else %}
                    <img src="{% static 'img/profile-pic.png' %}" alt="" width="35" height="35" class="rounded-circle">
                    {% endif %}
                    <div class="d-none d-lg-block" id="namediv">
                      <div class="text-capitalize text-center" style="margin-top: 5%; margin-left: 1vh; color: white;">
                        <div>{{usr.company.company_name}}</div>
                      </div>
                    </div>
                    {% else %}
                    {% if usr.employee.profile_pic %}
                    <img width="35" height="35" class="rounded-circle" src="{{ usr.employee.profile_pic.url }}" alt="">
                    {% else %}
                    <img src="{% static 'img/profile-pic.png' %}" alt="" width="35" height="35" class="rounded-circle">
                    {% endif %}
                    <div class="d-none d-lg-block" id="namediv">
                      <div class="text-capitalize text-center" style="margin-top: 10%; margin-left: 1vh; color: white;">
                        <div>{{usr.employee.company.company_name}}</div>
                        <br>
                        <div style="margin-top: -140%; font-size: medium;">{{usr.first_name}} {{usr.last_name}}</div>
                      </div>
                    </div>
                    {% endif %}
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                    <div class="message-body">
                      {% if usr.is_company == True %}
                      <div class="d-sm-block d-lg-none">
                        <div class="text-capitalize" style="margin-left: 12%; margin-right: 12%;">
                          <div style="font-size: medium;">{{usr.first_name}} {{usr.last_name}}</div>
                          <hr>
                        </div>
                      </div>
                      <a href="{% url 'cmp_profile' %}" class="d-flex align-items-center gap-2 dropdown-item">
                        <i class="ti ti-user fs-6"></i>
                        <p class="mb-0 fs-3">Profile</p>
                      </a>
                      {% else %}
                      <div class="d-sm-block d-lg-none">
                        <div class="text-capitalize" style="margin-left: 12%; margin-right: 12%;">
                          <div style="font-size: medium;">{{usr.first_name}} {{usr.last_name}}</div>
                          <hr>
                        </div>
                      </div>
                      <a href="{% url 'emp_profile' %}" class="d-flex align-items-center gap-2 dropdown-item">
                          <i class="ti ti-user fs-6"></i>
                          <p class="mb-0 fs-3">Profile</p>
                      </a>
                      {% endif %}
                      <a href="{% url 'logout' %}" class="btn mx-3 mt-2 d-block"id="logout">Logout</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </header>
      </div>
      {% block content %}{% endblock content %}
    </div>

    <script src="{% static 'assets/js/app.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Aami added -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <!-- Aami added -->
    <script>
      var dropdown = document.getElementsByClassName("dropdown-btn");
      var i;
      for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
          this.classList.toggle("active");
          var dropdownContent = this.nextElementSibling;
          if (dropdownContent.style.display === "block") {
            dropdownContent.style.display = "none";
          } else {
            dropdownContent.style.display = "block";
          }
        });
      }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
  </body>
</html>