<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay Slip</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
 
</head>
<style>
    .bill-info {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px; /* Adjust the margin as needed */
}

.bill-info p {
  margin: 0;
}

</style>
<body>
  <div class="my-5 page" size="A4">
    <div class="p-5">
                    <div class="row">
                        <div class="col-sm-12" style=" color: rgb(7, 7, 7);">
                            <h3 style=" text-align: center;"> INVOICE BILL<br>
                                {{inbill.company.company_name}} <br>
                                {{inbill.company.address}} <br>
                                {{inbill.company.city}},
                                {{inbill.company.state}}<br>
                                {{inbill.company.cemail}}
                                <br>
                            </h3>
                        </div>
                        <section class="top-content ">
                            <div>
                                <div class="col-12">
                                    <h6>Item  Type: &nbsp; {{ inbill.itm_type }}</h6>
                                    <h6>Item Name: <span>{{ inbill.itm_name }}</span></h6>
                                    <div class="col-5" style="text-align: right;">
                                    </h6 style="color:black;"> <span style=" font-weight: bold;">To: 
                                      {{ inbill.party.party_name }}<br>
                                      {{ inbill.party.address | linebreaksbr }}
                                    </h6>
                                  </div>
                                </div>
                                  
                                
                            </div>
                          
                        </section>
                    
                          

                     
                        <div class="col-md-1"></div>
                        <div class="col-md-10"><br>
                            <table class="table table-hover table-borderless " id="table3">
                                <thead >
                                    <tr class="template3tablehead" >
                                        <th class="text-center"  style="color:black">Item Type</th>
                                        <th class="text-center"  style="color:black">Item Name</th>
                                        <th class="text-center"  style="color:black">Date</th>
                                        <th class="text-center"  style="color:black">Quantity</th>
                                        <th class="text-center"  style="color:black">Price</th>
                            
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in initm %}
                                        <tr>
                                            <td style="color:black; text-align: center;">{{i.trans_type}}</td>
                                            <td style="color:black; text-align: center;">{{i.item.itm_name}}</td >
                                            <td style="color:black; text-align: center;">{{i.trans_date}}</td>
                                            <td style="color:black; text-align: center;">{{i.trans_qty}}</td>
                                            <td style="color:black; text-align: center;">{{i.trans_price}}</td>
                                           
                                        </tr>
                                    {% endfor %} 
                                </tbody>
                            </table>
                        </div>
                    </div> 
                     
                </div>
            </div>
            <div class="ml-2 mt-2">
                <p>
                    Created by : {{inbill.user.first_name}}  {{inbill.user.last_name}} <br>
                    Printed by {{user.first_name}}  {{user.last_name}} On <span id="datetimedisplay"></span>
                </p>
            </div>
</body>

</html>