{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

<style>
    .bs{
        box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.397);
    }

    .tb{
        color: black;
    }
    .tg{
        color: white;
    }
    .tr{
        color: rgb(218, 0, 0);
    }
    .btn_add{
        background-color: #68020F;
        color: white;
    }
    .btn_add:hover{
        background-color: #68020F;
        color: white;
    }

    #add_btn{
        border: 2px solid #68020F;
        color: black;
    }

    #add_btn:hover{
        background-color: #68020F;
        color: white;
    }

    ::-webkit-scrollbar{
        display: none
    }

    @media screen and (max-width:575px) {
        #searchdiv{
            width: 10%;
        }
    }

    #itemtable tr:hover td:not(:last-child){
        border-right: 1px solid #044A42;
    }

    #itemtable tr:hover td{
        cursor: pointer;
    }

    input[type="checkbox"]:checked{
        background-color: #68020F;
    }

    .clickable-row{
        cursor: pointer;
    }

    .input_border{
        border: 2px solid #68020F;
        color: black;
        font-weight: 900;
    }

    .button_border{
        border: 1px solid #68020F;
        color: #68020F;
    }

    .button_border:hover{
        background-color:#68020F;
        color: white;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        padding: 10px;
        z-index: 1;
        width: 15%;
    }

    .dropdown-content label {
        display: block;
        margin-bottom: 5px;
    }

    .dropdown-content input {
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    #emptyMessage {
        display: none;
        font-size: x-large;
        font-weight: bold;
        color: red;
    }

    
    @media print{
        .extra{
            display: none !important;
        }
    }

    .table-container {
    overflow-x: auto; /* Enable horizontal scrolling */
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Fixed layout for consistent column width */
}

thead {
    position: sticky;
    top: 0;
    background-color: #f2f2f2; /* Header background color */
    z-index: 1; /* Ensure header stays above content */
}

thead th {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd; /* Border style */
}

tbody td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd; /* Border style */
}

</style>

{% if party %}
    <div class="body-wrapper">
        <br><br><br><br><br><br>
        <div class="row ps-3 pe-3 m-0">
            <div class="col-sm-12 col-lg-3  ps-2 pe-3 pb-2" style="height: 50rem;">
                <div class="card bg-light bs"style="height:100%;">
                    <div class="row m-0">
                        <div class="col-12 p-4 pt-3" style="z-index:2">
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="d-flex justify-content-between">
                                    <span id="search_item" class="fa fa-search tb ms-2 mt-1" style="border-radius: 50%;padding: 0.77rem; background-color: #68020F; color: white;"></span>
                                    <a id="add_item_btn" class="btn btn-sm rounded p-2 mt-1 btn_add" href="{% url 'load_party_create' %}"><span class="fa fa-plus"></span> Add Party</a>
                                </div>
                                <input id="search_item_input" class="form-control border-dark text-dark mt-2" type="text" placeholder="search here.." name="searching_item" style="display: none;">
                            </form>
                        </div>
                        <div class="ps-3 pe-3">
                            <hr class="p-0 m-0">
                        </div>
                        <div class="col-12 p-3 pt-0">
                            <div id="item_search_filter_target">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div style="overflow: auto;height: 42rem;">
                                        <table class="table w-100 table-hover" id="sidetable">
                                            <thead style="background: #68020F;">
                                                <th class="text-start fs-2 tb text-light">PARTY</th>
                                                <th class="text-end fs-2 tb text-light text-center">AMOUNT</th>
                                            </thead>
                                            <tbody >
                                                {% for p in party %}
                                                <tr class="item_lists_hide" style="background-color: #FFD6D7;">
                                                    <td style="cursor:pointer" class="text-start fs-2 fw-bold text-dark"
                                                        hx-post="" hx-trigger="click delay:0s"
                                                        hx-target="#item_get_detail_target">
                                                        <a href="{% url 'view_party' p.id %}" style="color: black; ">{{ p.party_name|capfirst }}</a>
                                                        
                                                    </td>
                                                    <td class="text-end fs-2 fw-bolder" style="color: green;">
                                                        
                                                        {% if p.payment == 'To Pay' %}
                                                        <span style="border: none; color: red; ">{{p.openingbalance}}</span>
                                                        {% elif p.payment == 'To Receive' %}
                                                        <span style=" color: green; ">{{ p.openingbalance }}</span>
                                                        {% else %}
                                                        <span style="color: black; ">{{ p.openingbalance }}</span>
                                                        {% endif %}
                                                        <div class="btn-group mb-1">
                                                            <button style="border: none;background: none;" type="button" class="ropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                                                <span class="fa fa-ellipsis-v text-dark fs-1 ps-2"></span>
                                                            </button>
                                                            <ul class="dropdown-menu">
                                                                <li>
                                                                    <a class="dropdown-item fw-bold tb" href="{% url 'details_party' p.id %}" style="color:#68020F;">
                                                                        <i class="fas fa-eye" style="font-size: 15px; padding-inline-start: 0.1rem;padding-inline-end:0.7rem ;color:#68020F;"></i>View
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item fw-bold tb" href="{% url 'edit_party' p.id %}" style="color:#68020F;">
                                                                        <i class="material-icons" style="font-size: 15px; padding-inline-start: 0.1rem;padding-inline-end:0.7rem ;color:#68020F;">edit</i>Edit
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item fw-bold tb" href="{% url 'deleteparty' p.id %}" type="button" style="color:#68020F;">
                                                                        <span class="fa fa-trash-alt tr" style="padding-inline-start: 0.1rem;padding-inline-end:0.7rem ;color:#68020F;"></span> Delete
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item fw-bold tb" href="{% url 'history_party' p.id %}" type="button" style="color:#68020F;">
                                                                        <span class="fas fa-history" style="padding-inline-start: 0.1rem;padding-inline-end:0.7rem ;color:#68020F;"></span>History
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-9  ps-2 pe-3" style="height: 80%;">
                <div id="item_get_detail_target">
                    {% for message in messages %}
                    <h5>
                        <div class="alert alert-danger mt-5 message text-center" style="color: black;">
                            {{ message }}
                            <a type="button" class="close" data-dismiss="alert" aria-label="Close" style="float: right;">
                                <span aria-hidden="true" style="font-size: large; color: #68020F;">&times;</span>
                            </a>
                        </div>
                    </h5>
                    {% endfor %}
                    <div class="row m-0" style="height:20%">
                        <div class="p-0 mb-3">
                            <div id="itemtable">
                            <div  class="p-4" style="background-color:  #68020F; border-radius: 1vh;">
                                <div class="d-flex justify-content-between">
                                    <h4 class="tb text-capitalize" style="color: white;">{{ fparty.party_name }}</h4>
                                    
                                </div>
                                <p></p>
                                <div class="d-flex justify-content-between" style="color: white;">
                                    <p class="tb fw-bolder fs-2 text-light">PHONE <span class="ps-2 tg" style="color: white;"> -
                                            &nbsp;&nbsp; {{ fparty.contact }}</span></p>
                                    <p class="tb fw-bolder fs-2 text-light">ADDRESS <span class="ps-2 tg" style="color:white;"> -
                                            &nbsp;&nbsp; {{ fparty.address }}</span></p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="tb fw-bolder fs-2 text-light">EMAIL <span class="ps-2 tg" style="color: white;"> -
                                            &nbsp;&nbsp; {{ fparty.email }}</span></p>
                                    <p class="tb fw-bolder fs-2 text-light">TRN NO <span class="ps-2 tg" style="color: white;"> -
                                            &nbsp;&nbsp; {{ fparty.trn_no }}</span></p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="tb fw-bolder fs-2 text-light">BALANCE <span class="ps-2 tg" style="color: white;"> -
                                            &nbsp;&nbsp; {{ total_trans }}</span></p>
                                </div>
                            
                            </div>
                                <hr style="height: .5%;">
                                <div class="row m-0 p-0 pt-3">
                                    <div class="col-sm-12 col-lg-12" id="pdfexclude">
                                        <h4> PARTY&nbsp;&nbsp; TRANSACTIONS</h4>
                                        <div class="d-flex justify-content-between"  >
                                            <div id="searchdiv">
                                                <div class="position-relative">
                                                    <div class="position-absolute" style="margin-top:0.4rem;margin-left: 0.5rem;color:#68020F;">
                                                        <span class="fa fa-search fs-5"></span>
                                                    </div>
                                                </div>
                                                <input id="search_input1" style="padding-inline-start: 2rem; width:200%; border: 1px solid #68020F;" class="text-dark pt-1 pb-1 pe-1 rounded" type="text" placeholder=" search here..">
                                            </div>
                                            <div>
                                                <button class="btn p-0 ps-2 pe-2 ms-2" type="button" onclick="export_as_excel()" style="color: #68020F;">
                                                    <i class="fas fa-file-excel" style="font-size:175%;"></i><br>EXCEL
                                                </button>
                                           
                                                <button class="btn p-0 ps-2 pe-2 ms-2" type="button" onclick="generatePDF()"
                                                    style="color:  #68020F;">
                                                    <i class="fas fa-file-pdf" style="font-size:175%;"></i><br>PDF
                                                </button>
                                                <script>
                                                    // Function to generate PDF from the table
                                                    function generatePDF() {
                                                        var element = document.getElementById('itemtable'); // Assuming 'credittable' is the ID of your table element
                                                        var filename = 'Party.pdf';
                                                        var opt = {
                                                            margin: 1,
                                                            filename: filename,
                                                            image: { type: 'jpeg', quality: 0.98 },
                                                            html2canvas: { scale: 2 },
                                                            jsPDF: { unit: 'in', format: 'a4', orientation: 'portrait' }
                                                        };
                                                        html2pdf().set(opt).from(element).save();
                                                    }
                                                </script>
                                                <a class="text-dark" data-toggle="dropdown">
                                                    <button class="btn p-0 ps-2 pe-2 ms-2" type="button" style="color:  #68020F;" title="Share"><i class="fa fa-share" aria-hidden="true" style="font-size:175%;"></i> <br> SHARE</button>
                                                </a>
                                                <div class="dropdown-menu ">
                                                    <a class="dropdown-item" data-target="#shareBillEmail"
                                                        data-toggle="modal">GMAIL</a>
                                                    <a class="dropdown-item" href="javascript:void(0);"
                                                        onclick="shareOnWhatsApp()">WhatsApp</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-lg-6 pt-1"></div>
                                    <div class="mt-3 table-container" style="overflow: scroll;height: 31rem;">
                                        <table id="itemtable" class="table table-bordered  tb table-responsive w-100">
                                            <thead style="background: #68020F; color: white;">
                                                <th>#</th>
                                                <th class="text-center fs-2">TYPE
                                                    <a class="extra text-white" onclick="toggleDropdown(1)">&nbsp;<i class="fa fa-filter" aria-hidden="true"></i></a>
                                                    <div class="dropdown-content" id="dropdownContent1">
                                                        <label for="filterInput1" style="color: black; text-align: left;">Equal To</label>
                                                        <input type="text" id="filterInput1"  />
                                                        <a class="btn btn-info" onclick="cleardropdown(1)"style="background: #68020F; color: white;">Clear</a> 
                                                        &nbsp;<a class="btn btn-info" onclick="filterTable(1)"style="background: #68020F; color: white;">Apply</a>
                                                    </div>
                                                </th>
                                                <th class="text-center fs-2">NUMBER
                                                    <a class="extra text-white" onclick="toggleDropdown(2)">&nbsp;<i class="fa fa-filter" aria-hidden="true"></i></a>
                                                    <div class="dropdown-content" id="dropdownContent2">
                                                        <label for="filterInput2" style="color: black; text-align: left;">Equal To</label>
                                                        <input type="text" id="filterInput2"  />
                                                        <a class="btn btn-info" onclick="cleardropdown(2)"style="background: #68020F; color: white;">Clear</a> 
                                                        &nbsp;<a class="btn btn-info" onclick="filterTable(2)"style="background: #68020F; color: white;">Apply</a>
                                                    </div>
                                                </th>
                                            
                                                <th class="text-center fs-2">DATE
                                                    <a class="extra text-white" onclick="toggleDropdown(4)">&nbsp;<i class="fa fa-filter" aria-hidden="true"></i></a>
                                                    <div class="dropdown-content" id="dropdownContent4">
                                                        <label for="filterInput4" style="color: black; text-align: left;">Equal To</label>
                                                        <input type="date" id="filterInput4"  />
                                                        <a class="btn btn-info" onclick="cleardropdown(4)"style="background: #68020F; color: white;">Clear</a> 
                                                        &nbsp;<a class="btn btn-info" onclick="filterTable(4)"style="background: #68020F; color: white;">Apply</a>
                                                    </div>
                                                </th>
                                                <th class="text-center fs-2">TOTAL
                                                    <a class="extra text-white" onclick="toggleDropdown(5)">&nbsp;<i class="fa fa-filter" aria-hidden="true"></i></a>
                                                    <div class="dropdown-content" id="dropdownContent5">
                                                        <label for="filterInput5" style="color: black; text-align: left;">Equal To</label>
                                                        <input type="text" id="filterInput5"  />
                                                        <a class="btn btn-info" onclick="cleardropdown(5)"style="background: #68020F; color: white;">Clear</a> 
                                                        &nbsp;<a class="btn btn-info" onclick="filterTable(5)"style="background: #68020F; color: white;">Apply</a>
                                                    </div>
                                                </th>
                                                <th class="text-center fs-2">BALANCE
                                                    <a class="extra text-white" onclick="toggleDropdown(6)">&nbsp;<i class="fa fa-filter" aria-hidden="true"></i></a>
                                                    <div class="dropdown-content" id="dropdownContent6">
                                                        <label for="filterInput6" style="color: black; text-align: left;">Equal To</label>
                                                        <input type="text" id="filterInput6"  />
                                                        <a class="btn btn-info" onclick="cleardropdown(6)"style="background: #68020F; color: white;">Clear</a> 
                                                        &nbsp;<a class="btn btn-info" onclick="filterTable(6)"style="background: #68020F; color: white;">Apply</a>
                                                    </div>
                                                </th>
                                                <!--<th class="text-center fs-2 extra" id="extra">STATUS</th>-->
                                            </thead>
                                            <tbody>
                                                {% for i in ftrans %}
                                                <tr>
                                                    <td>{{ forloop.counter}}</td>
                                                    <td class="name" style="color: black;text-align:center;">{{i.trans_type}}</td>
                                                    <td class="number name" style="color: black;text-align:center;font-size: smaller;"><small>{{ i.trans_number }}</small></td>
                                                    <td class="date name" style="color: black;text-align:center;">{{ i.trans_date | date:'d-m-Y' }}</td>
                                                    <td class="number" style="color: black;text-align:center;">{{ i.total }}</td>
                                                    <td class="number" style="color: black;text-align:center;">{{ i.balance }}</td>
                                                
                                                </tr>
                                                {% endfor %}
                                                
                                            </tbody>
                                        </table>   
                                    <p id="emptyMessage" style="text-align: center;">
                                        <br><br><br>
                                        No Transactions to Show
                                    </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="shareBillEmail">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="background: #68020F; border-radius: 20px;">
                <div class="modal-header" style="background: #68020F;">
                    <h5 class="m-3 text-uppercase text-light" id="shareBillEmailLabel">Share Gstr9 Via Email</h5>
                    <button type="button" class="btn btn-close btn-outline-light" data-dismiss="modal" aria-label="Close" ></button>
                </div>
                <div class="modal-body" style="background: #68020F;">
                    <div class="card p-3 m-3" >
                        <form action="{% url 'share_transaction_party_to_email' id=fparty.id %}" method="post" class="needs-validation"
                            id="share_to_email_form" autocomplete="off" >
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="emailIds">Email IDs</label>
                                <textarea  class="form-control text-dark" name="email_ids" id="emailIds" rows="3"
                                    placeholder="Multiple emails can be added by separating with a comma(,)."
                                    required></textarea>
                            </div>
                            <div class="form-group mt-2">
                                <label for="item_unitname">Message(optional)</label>
                                <textarea name="email_message" id="email_message" class="text-dark form-control" cols=""
                                    rows="3" placeholder="This message will be sent along with Bill details."></textarea>
                            </div>
                            <div class="modal-footer d-flex justify-content-center" style="border-top: 1px solid #ffff;">
                                <button style="background: #68020F; color: white;" type="submit" id="share_with_email"
                                    class=" btn btn-outline-dark  submitShareEmailBtn " value="SEND MAIL">SEND MAIL</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        $(document).ready(function () {
            $('#share_with_email').on('click', function () {
                var emailsInput = document.getElementById('emailIds');
                var emailsString = emailsInput.value.trim();
    
                var emails = emailsString.split(',').map(function (email) {
                    return email.trim();
                });
    
                var emailRegex = /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/;
    
                var invalidEmails = []
                if (emailsString == "") {
                    alert('Enter valid email addresses..')
                }
                else {
                    for (var i = 0; i < emails.length; i++) {
                        var currentEmail = emails[i];
    
                        if (currentEmail != "" && !emailRegex.test(currentEmail)) {
                            console.log(currentEmail + ' is invalid!');
                            invalidEmails.push(currentEmail)
                        }
                    }
    
                    if (invalidEmails.length > 0) {
                        alert('Invalid emails..Please check!\n' + invalidEmails)
                        // alert(invalidEmails)
                    } else {
                        $('#share_to_email_form').submit();
                    }
                }
            })
        });
    </script>

    {% else %}
    <div class="body-wrapper">
        <br><br><br>
        <div class="p-5 text-center" style="display: flex;justify-content: center;">
            <div class="card "
                style="background-color: #FFD6D7;width:50rem;box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.249);">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="rounded pt-3" style="border: 1px solid rgba(0, 0, 0, 0);border-bottom: none;">
                            <h1 style="font-weight:900;color:rgba(0, 0, 0, 0.644);font-size: 1.5rem;">MULTIUSER BILLING
                                SOFTWARE</h1>
                            <p class="card-text">Welcome to Multiuser Billing Software, We're committed to providing a
                                seamless and secure online marketplace for buyers and sellers. Our platform offers a
                                range
                                of features.</p>
                            <p style="color: rgb(0, 89, 10);font-weight: light;" class="card-text">You can manage all
                                you
                                Parties here.</p>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-sm-12 col-md-6 pb-3">
                        <img src="https://cdn-cashy-static-assets.lucidchart.com/marketing/pages/consideration-page/UML-Diagram-Maker/Consideration_UML_perfect.png" class="card-img" alt="no img">
                        <br><br>
                        <a class="btn btn-lg" href="{% url 'load_party_create' %}" id="add_btn">Add Your First party</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>

    <script>
        function cleardropdown(index){
            if(index == 4){
                document.getElementById('filterInput'+index).value = '';
            }else{
                document.getElementById('filterInput'+index).value = null;
            }
        }
    
        function toggleDropdown(index) {
            var dropdownContent = document.getElementById('dropdownContent' + index);
            var isVisible = dropdownContent.style.display === 'block';
            var allDropdowns = document.querySelectorAll('.dropdown-content');
            allDropdowns.forEach(function (dropdown) {
                dropdown.style.display = 'none';
            });
            dropdownContent.style.display = isVisible ? 'none' : 'block';
        }
    
        function filterTable(index) {
            var input;
            document.getElementById('dropdownContent' + index).style.display = 'none';
            if (index === 4) {
                input = document.getElementById('filterInput' + index).value;
            } else {
                input = document.getElementById('filterInput' + index).value.toUpperCase();
            }
            var table = document.getElementById('itemtable');
            var rows = table.getElementsByTagName('tr');
            var emptyMessage = document.getElementById('emptyMessage');
            var isEmpty = true;
            for (var i = 1; i < rows.length; i++) {
                var cells = rows[i].getElementsByTagName('td');
                var cell = cells[index];
                if (cell) {
                    var textValue = cell.textContent || cell.innerText;
                    if (index === 4) {
                        if (input==''){
                            rows[i].style.display = 'table-row';
                                isEmpty = false;
                        }else{
                            dateval  = textValue.replace(/(\d{2})-(\d{2})-(\d{2})/, "$2-$1-$3");
                            inputval  = input.replace(/(\d{2})-(\d{2})-(\d{2})/, "$2-$1-$3");
                            const formattedDate = formatDateString(input);
                            if (dateval === formattedDate) {
                                rows[i].style.display = 'table-row';
                                isEmpty = false;
                            } else {
                                rows[i].style.display = 'none';
                            }
                        }
                    } else {
                        if (textValue.toUpperCase().includes(input)) {
                            rows[i].style.display = 'table-row';
                            isEmpty = false;
                        } else {
                            rows[i].style.display = 'none';
                        }
                    }
                }
            }
            emptyMessage.style.display = isEmpty ? 'block' : 'none';
        }
    
        function formatDateString(inputDate) {
            const parsedDate = new Date(inputDate);
            const day = parsedDate.getDate();
            const month = parsedDate.getMonth() + 1;
            const year = parsedDate.getFullYear();
            const formattedDate = `${month < 10 ? '0' : ''}${month}-${day < 10 ? '0' : ''}${day}-${year}`;
            return formattedDate;
        }
    </script>

    

    <script>
        $(document).ready(function() {
            $("#search_input1").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#itemtable tbody tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value)>-1);
                });
            });
        });
        $(document).ready(function(){
            $('#search_item').click(function(){
                $('#search_item_input').toggle()
            })
        })
    </script>

   

    <script>
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
            window.location = $(this).data("href");
            });
        });
    </script>

    <script>
        function export_as_excel(){
            const table = document.querySelector('#itemtable');
            const clonedTable = table.cloneNode(true);
            clonedTable.querySelectorAll('tr').forEach(row => {
                const lastCell = row.lastElementChild;
                if (lastCell) {
                    row.removeChild(lastCell);
                }
            });
            clonedTable.querySelectorAll('th').forEach(row => {
                const lastCell = row.lastElementChild;
                if (lastCell) {
                    row.removeChild(lastCell);
                }
            });
            const ws = XLSX.utils.table_to_sheet(clonedTable);
            const wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');
            XLSX.writeFile(wb, 'PartyTransactions.xlsx');
        }
   
    </script>

    <script>
        var $rows = $('#sidetable tbody tr');
        $('#search_item_input').keyup(function () {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
            $rows.hide().filter(function () {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return ~text.indexOf(val);
            }).show();
        });
    </script>

{% endblock content %}