{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Graph</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="body-wrapper">
        <br><br><br>
        <div class="row ps-3 pe-3 m-0" >
            <div class="col-sm-12 ps-2 pe-3">
                <div style="margin-top: 20px;">
                    <input type="radio" id="monthly" name="view" value="monthly" checked>
                    <label for="monthly">Monthly</label>
                    <input type="radio" id="yearly" name="view" value="yearly">
                    <label for="yearly">Yearly</label>
                </div>
                <canvas id="salesChart" width="800" height="400"></canvas>
            </div>
        </div>
    </div>

    <script>
        var ctx = document.getElementById('salesChart').getContext('2d');
        var salesChart;

        var monthlyData = {
            labels: {{ monthly_labels|safe }},
            datasets: [{
                label: 'Monthly Sales',
                data: {{ monthly_data|safe }},
                backgroundColor: '#68020F', 
                borderColor: 'black',
                borderWidth: 1
            }]
        };
        var yearlyData = {
        labels: {{ yearly_labels|safe }},
        datasets: [{
        label: 'Yearly Sales',
        data: {{ yearly_data|safe }},
        
        borderColor: '#68020F',
        borderWidth: 2,
        backgroundColor: '#68020F', 
        type: 'line'
    }]
};


        

        function updateChart(data, chartType) {
            if (salesChart) {
                salesChart.destroy(); 
            }

            salesChart = new Chart(ctx, {
                type: chartType,
                data: data,
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }

        updateChart(monthlyData, 'bar');

        var radioButtons = document.querySelectorAll('input[type=radio][name=view]');
        radioButtons.forEach(function(radioButton) {
            radioButton.addEventListener('change', function() {
                if (this.value === 'monthly') {
                    updateChart(monthlyData, 'bar');
                } else if (this.value === 'yearly') {
                    updateChart(yearlyData, 'line');
                }
            });
        });
    </script>
</body>
</html>
{% endblock %}
